@using TheSKZWeb.Areas.Roles.Models.Administrator.Out
@model Out_ManageRoles
@{
    ViewData["Title"] = "Manage Roles";
}

<style>
    .td {
        vertical-align: middle;
    }
    td.td_center {
        text-align: center;
    }
</style>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class=text-primary>All Roles</h2>
        </div>
        <div class="col-6 text-end">
            <div class="w-100 btn-group" role="group">
                <a asp-area="Administrator" asp-controller="Home" asp-action="Index" class="btn btn-primary rounded ms-0 me-1">
                    <i class="bi bi-caret-left"></i> &nbsp; Back to overview
                </a>
                <a asp-area="Roles" asp-controller="Administrator" asp-action="ManageRolesCreate" class="btn btn-primary rounded ms-1 me-0" style="display: inline-block">
                    <i class="bi bi-plus-square-dotted"></i> &nbsp; New Role
                </a>
            </div>
        </div>
    </div>
</div>
<br />

@if (Model.Highlighted != null)
{
    <div id="jumpToHighlighted" class="alert alert-info alert-dismissible fade show" role="alert">
        Jump to the highlighted role
        <a class="accept-policy close" data-dismiss="alert" aria-label="Close" asp-fragment="Highlighted" asp-route-Highlighted="@Model.Highlighted.RoleId">
            <span aria-hidden="true">Jump</span>
        </a>
    </div>
}

@{
    // searchable sortable 
}
<table class="table table-bordered table-striped table-hover " style="width: 100%">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Critical
            </th>
            <th>
                Standart
            </th>
            <th>
                Name
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Highlighted != null)
        {
            <tr id="Highlighted-Top" class="table-success">
                <td class="td_center" width="10%">
                    <span class="copyText" style="color: #DE3394" data-name="Role Id" data-copydata="@Model.Highlighted.RoleId" data-doalert="true" data-generate="true"></span>
                </td>
                <td class="@(Model.Highlighted.IsCritical?"table-danger":"") td_center" width="10%">
                    @{
                        if (Model.Highlighted.IsCritical) {
                                <i class="bi bi-check" title="Critical Role"></i>
                        } else
                        {
                                <i class="bi bi-x" title="Non-Critical Role"></i>
                        }
                    }
                </td>
                <td class="@(Model.Highlighted.IsDefault?"table-warning":"") td_center" width="10%">
                    @{
                        if (Model.Highlighted.IsDefault) {
                                <i class="bi bi-check" title="Default Role"></i>
                        } else
                        {
                                <i class="bi bi-x" title="Non-Default Role"></i>
                        }
                    }
                </td>
                <td width="45%">
                    <span class="copyText" data-name="Role Name" data-copydata="@Model.Highlighted.Name" data-doalert="true" data-generate="true"></span>
                </td>
                <td> 
                    <div class="w-100 btn-group" role="group">
                        <a class="btn btn-primary rounded mx-2" asp-area="Roles" asp-controller="Administrator" asp-action="ManageRole" asp-route-roleId="@Model.Highlighted.RoleId">
                            <i class="bi bi-gear"></i> &nbsp; Manage
                        </a>
                        <a class="btn btn-danger rounded mx-2" asp-area="Roles" asp-controller="Administrator" asp-action="ManageRoles">
                            <i class="bi bi-pin-angle"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
        @foreach (_Role role in Model.Roles)
        {
            <tr id="@(role.Highlighted ? "Highlighted" : "")">
                <td class="@(role.Highlighted? "table-success" : "") td_center" width="10%">
                    <span class="copyText" style="color: #DE3394" data-name="Role Id" data-copydata="@role.RoleId" data-doalert="true" data-generate="true"></span>
                </td>
                <td class="@(role.IsCritical?"table-danger":"") td_center" width="10%">
                    @{
                        if (role.IsCritical) {
                                <i class="bi bi-check" title="Critical Role"></i>
                        } else
                        {
                                <i class="bi bi-x" title="Non-Critical Role"></i>
                        }
                    }
                </td>
                <td class="@(role.IsDefault?"table-warning":"") td_center" width="10%">
                    @{
                        if (role.IsDefault) {
                                <i class="bi bi-check" title="Default Role"></i>
                        } else
                        {
                                <i class="bi bi-x" title="Non-Default Role"></i>
                        }
                    }
                </td>
                <td width="45%">
                    <span class="copyText" data-name="Role Name" data-copydata="@role.Name" data-doalert="true" data-generate="true"></span>
                </td>

                <td> 
                    <div class="w-100 btn-group" role="group">
                        <a class="btn btn-primary rounded mx-2" asp-area="Roles" asp-controller="Administrator" asp-action="ManageRole" asp-route-roleId="@role.RoleId">
                            <i class="bi bi-gear"></i> &nbsp; Manage
                        </a>
                        @if (!role.Highlighted) {
                            <a class="btn btn-success rounded mx-2" asp-area="Roles" asp-controller="Administrator" asp-action="ManageRoles" asp-route-Highlighted="@role.RoleId">
                                <i class="bi bi-pin-angle"></i>
                            </a>
                        } else
                        {
                            <a class="btn btn-danger rounded mx-2" asp-area="Roles" asp-controller="Administrator" asp-action="ManageRoles">
                                <i class="bi bi-pin-angle"></i>
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function(){

        });
    </script>
}
