@using TheSKZWeb.Areas.Permissions.Models.Administrator.Out
@model Out_ManagePermissions
@{
    ViewData["Title"] = "Manage Permissions";
}

<style>
    .td {
        vertical-align: middle;
    }
    td.td_center {
        text-align: center;
    }
</style>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class=text-primary>Manage Permissions</h2>
        </div>
        <div class="col-6 text-end">
            <div class="w-100 btn-group" role="group">
                <a asp-area="Administrator" asp-controller="Home" asp-action="Index" class="btn btn-secondary rounded ms-0 me-1">
                    <i class="bi bi-caret-left"></i> &nbsp; Back to overview
                </a>
                <a asp-area="Permissions" asp-controller="Administrator" asp-action="ManagePermissionsCreate" class="btn btn-primary rounded ms-1 me-0" style="display: inline-block">
                    <i class="bi bi-plus-square-dotted"></i> &nbsp; New Permission
                </a>
            </div>
        </div>
    </div>
</div>
<br />

@if (Model.Highlighted != null)
{
    <div id="jumpToHighlighted" class="alert alert-info alert-dismissible fade show" role="alert">
        Jump to the highlighted permission
        <a class="accept-policy close" data-dismiss="alert" aria-label="Close" asp-fragment="Highlighted" asp-route-Highlighted="@Model.Highlighted.PermissionId">
            <span aria-hidden="true">Jump</span>
        </a>
    </div>
}

<table 
    id="table"
    class="table table-bordered table-striped table-hover table-responsive table-dark w-100"
>
    <thead>
        <tr>
            <th>ID</th>
            <th>Default</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (_Permission permission in Model.Permissions)
        {
            <tr id="@(permission.Highlighted ? "Highlighted" : "")">
                <td class="td_center" width="10%" style="color: var(--accent-color)">
                    @permission.PermissionId
                </td>
                <td class="td_center" width="10%">
                    @if (permission.IsDefault) {
                        @("YES")
                    } else {
                        @("NO")
                    }
                </td>
                <td class="text-light">
                    @permission.Name
                </td>
                <td width="20%">
                    <div class="w-100 btn-group ms-1 me-0">
                        <a class="btn btn-primary rounded-left text-center" asp-area="Permissions" asp-controller="Administrator" asp-action="ManagePermission" asp-route-permissionId="@permission.PermissionId">
                            <i class="bi bi-gear text-light"></i> &nbsp; Manage
                        </a>
                        @if (!permission.Highlighted)
                        {
                            <a class="w-fit btn btn-secondary rounded-right text-center" asp-area="Permissions" asp-controller="Administrator" asp-action="ManagePermissions" asp-route-Highlighted="@permission.PermissionId">
                                <i class="bi bi-pin-angle text-light"></i>
                            </a>
                        }
                        else
                        {
                            <a class="w-fit btn btn-success rounded-right text-center" asp-area="Permissions" asp-controller="Administrator" asp-action="ManagePermissions">
                                <i class="bi bi-pin-angle text-light"></i>
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
}
